<br><br>

<div class="container">
    <div style="padding: 5px 5px 5px 5px;"> <center><img src=<%= image_path "11.png" %>></center> </div>
    <br>
    <form>
      <div class="form-group">
            <center><img src=<%= image_path "fish123.png" %> width="250" height="250"></center> 
            <center><h6>어장 마스코트 <b>어중이</b></h6></center>
            <center><h3><b>어 장 : 어중이 장학금</b></h3></center><br>
            <center><h4 style="color: #e2584a;"><b><em>한 학기 학점 <span style="font-size:45px; background-color:#ffd609;"><b>평균 3.5</b></span>,</em></b></h4></center>
            <center><b>성적이 최고도 최저도 아닌 어중이인 당신!</b></center>
            <center><b>그래서 성적장학금을 한 번도 받아보지 못한 당신!</b></center>
            <center><b>그런 당신에게 어장이 쏴드립니다!!!</b></center><br>
            <center><h3 style="text-decoration: underline;"><b><em>어중이를 위한 장학금, 어장!</em></b></h3></center>
            <br>
            <center>
                <p>
                - 전보다 눈에 띄게 성적이 올랐지만 장학금은 커녕 성취감만 남은 당신 <br>
                - 취업난에 기업이 원하는 최소 평균 학점 3.5 이상이 목표인 당신 <br>
                - 적당히 공부하고 장학금을 받고 싶은 당신 <br>
                <h3 style="color: #e2584a;"><b>1,000원 내고 500만원 받아가세요!</b></h3><br>
                </p>
            </center>
      </div>
    </form>
</div>

<br><br>