<br><br>

<div class="container">
    <div style="padding: 5px 5px 5px 5px;"> <center><img src=<%= image_path "13.png" %>></center> </div>
    <br>
          <p style="font-size: 20px; font-style: bold; text-align: center">&nbsp;학기 성적이 3.5가 넘을 경우 응모버튼만 클릭하면 응모 완료!!</p>
</div>
    

   
<br><br>



<div class="container">
    <div style="padding: 5px 5px 5px 5px;"> <center><img src=<%= image_path "12.png" %>></center> </div>
    <br>
  
      <div style="padding-top: 25px; width: 1000px; text-align: center">
            <p>- 응모 기간 중 1인 1회 응모가 가능합니다.</p>
            <p>* 응모 기간은 2월 4째주 ~ 3월 1째주, 8월 4째주 ~ 9월 1째 주에 진행합니다.</p>
            <p>- 참여금 1000원을 지급하지 않을시 추첨에서 제외됩니다.</p>
            <p>- 성적 장학금을 받는 학생은 추첨에서 제외됩니다.</p>
            <p>- 학생 인증을 하지 않은 학생은 추첨에서 제외됩니다.</p>
            <p>- 당첨자는 관리자 이메일로 등록금고지서와 학점을 찍어 보내야 하며 보내지 않을 시 추첨에서 제외됩니다. </p>
      </div>

</div>


