<div style="margin-top:200px; margin-left:200px; margin-right:200px; border: 10px solid gray; ">
    <form action="/write" method="post" enctype="multipart/form-data">
       <center>
            <div  style="width: 70%; text-align: left; padding: 20px">
                <div class="form-group">
                <label for="exampleInputEmail1">제목</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="제목을 입력해주세요" name="title">
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">내용</label>
                <textarea class="form-control" rows="3" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-danger navbar-btn" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px; font-weight: bold; border-radius: 30px;" >글쓰기</button>
            </div>
        </center>
    </form>
</div>